.ipynb_checkpoints/
workflow_github_io_site.ipynb
CNAME
ipynb_files
newindex.html
testindex.html
workflow_current.ipynb
ChristopherMcMahon_Resume.zip
extra_txt
.gitignore
mcTophGSpider_spider.py
temp
old_site_designs/
README.md.backup
