html {
	height: 100%;
}

.table

.title-text {
	margin: auto;
}

.pill-nav {
	margin: auto;
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: black;
  color: black;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
}


.profile-picture {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  margin-bottom: 15px;
  width: 75%;
  height: 75%;
  

}

.profile-image {
  text-align: center;
}

.title-text {
  /*font-family: 'Fjalla One', sans-serif;*/
  /*font-family: 'Russo One', sans-serif;*/
  /*font-family: 'Cuprum', sans-serif;*/
  /* font-family: 'Bahianita', cursive;*/
  font-family: 'Khand', sans-serif;

  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;


}

.title-bar {
  border-top: 1px solid rgb(202,212,191);
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: red;
  color: black;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: rgb(162,228,149);
  color: white;
}

.content {
  text-align: center;
  padding: 10px 20px 10px 20px;
  background-color: rgb(14,57,50);
  color: rgb(202,212,191);

}

a.header-link {
  color: black;
  text-decoration: none;

}

a.header-link:hover {
  color: black;
  text-decoration: none;
}

th a {
  color: rgb(162,228,149);
}

.table .table-hover th:hover {
  color: white; /*was trying to narrow down which element selects the hover on the table*/
}

.table {
  padding-left: 20px;
  padding-right: 20px;
}
