/* color palatte:

background-color: rgb(14,57,50);
color: rgb(202,212,191);

*/

html {
	height: 100%;
}

.title-text {
	margin: auto;
}

.title-text {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1.blog-title-text {
	margin-top: 75px;
}

.content {
  text-align: left;
  /*padding: 0px 20px 10px 20px;*/
  background-color: black;
  color: rgb(202,212,191);
  height: 100%;
  /*margin-bottom: -50px;*/

}

a.header-link {
  color: black;
  text-decoration: none;

}

a.header-link:hover {
  color: black;
  text-decoration: none;
}

th a {
  color: rgb(162,228,149);
}

.table .table-hover th:hover {
  color: white;
}

.table {
  padding-left: 20px;
  padding-right: 20px;
}

.row {
	background-color: black;
	color: rgb(202,212,191);

}

.blurb {
	padding: 20px;
}

.navbar {
	margin: 20px;
}

.nav-link {
	/*background-color: rgb(162,228,149);*/
	color: black;
}

.nav-link:hover {
	color: white;
}

.nav-link:after {
	color: black;
}

.card {
	margin: 5px;
}

.card-body {
	background-color: black;
}

div.card-footer {
	background-color: rgb(162,228,149);
	text-decoration: none;
}

.card-footer a {
	color: black;
}

.card-footer a:hover {
	color: white;
}

#name-title-header {
	margin-top: 75px;
}

img.gmail-picture {
	margin-top: 3px;
}



.footer {
	position: relative;
	/*margin-top: 100px;*/
	width: 100%;
}

footer .row{
	background-color: black;
}

.home-blurb-text {
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
}

.blurb-links {
	color: rgb(162,228,149);
	font-weight: 600;
}

.blurb-links:hover {
	color: whitesmoke;
}

.testy-title {
	font-family: 'Odibee Sans', cursive;
	color: rgb(162,228,149);
}

.blurb-title {
	font-family: 'Odibee Sans', cursive;
}

.about-pic {
	border-radius: 75px;
	float: right;
}

.about-portrait {
	float: center;
	padding-top: 50px;
	padding-bottom: -50px;
}

.about-blurb {
	float: right;
	padding-top: 10%;
	text-align: left;
}

.projects-right-align {
	text-align: right;
}

.blog-blurb-row {
	padding-bottom: 50px;
}

.thanks {
	text-align: center;
	font-family: 'Exo 2', sans-serif;

}

/* new styling below */

.tree {
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
}


ul.tree, ul.tree ul {
list-style: none;
 margin: 0;
 padding: 0;
} 
ul.tree ul {
 margin-left: 10px;
}
ul.tree li {
 margin: 0;
 padding: 0 7px;
 line-height: 20px;
 color: rgb(87, 136, 77); /*text color on blog roll*/
 font-weight: bold;
 border-left:1px solid rgb(202,212,191);

}

ul.tree li:hover {
color: whitesmoke;
}

ul.tree li:last-child {
   border-left:none;
}
ul.tree li:before {
  position:relative;
  top:-0.3em;
  height:1em;
  width:12px;
  color:white;
  border-bottom:1px solid rgb(202,212,191);
  content:"";
  display:inline-block;
  left:-7px;
}
ul.tree li:last-child:before {
  border-left:1px solid rgb(202,212,191);   
}

.tree-div {
	padding: 15px;
	margin: 15px;
}

.special-padding {
	padding: 15px;
	margin: 15px;
}

.blog-roll-list-mech li {
	padding: 10px;
}