html {
	height: 100%;
}

.table

.title-text {
	margin: auto;
}

.pill-nav {
	margin: auto;
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
}


.profile-picture {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  margin-bottom: 10px;
  width: 100%;
  height: auto;

}

.content {
  max-width: 500px;
  margin: auto;
  width: 100%;
}

.title-text {
  /*font-family: 'Fjalla One', sans-serif;*/
  /*font-family: 'Russo One', sans-serif;*/
  /*font-family: 'Cuprum', sans-serif;*/
  /* font-family: 'Bahianita', cursive;*/
  font-family: 'Khand', sans-serif;

  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;


}

.title-bar {
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
}

